<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <th:block th:include="fragments/header.html :: header"></th:block>

</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">
<div class="flex h-screen">
    <!-- Sidebar -->
    <aside class="w-64 bg-gray-800 text-gray-200 flex flex-col">
        <div class="p-6 text-center font-bold text-lg">JCASFLOW</div>

        <nav class="flex-grow" th:include="fragments/nav.html :: nav" > </nav>

    </aside>

    <!-- Main Content -->
    <div class="flex flex-col flex-grow">
        <!-- Top Bar -->
        <header class="bg-white shadow-md py-4 px-6 flex  justify-start">
            <h1 class="text-xl font-semibold text-gray-800" th:text="${title}"></h1>

        </header>

        <!-- Dashboard Content -->
        <main class="p-6 flex-grow">
            <div class="bg-white p-6 rounded shadow-md pb-6">
                <h2 class="text-2xl font-semibold mb-4">Welcome to JCASFLOW</h2>
                <p class="text-gray-600">This is your dashboard home page. Use the side navigation to explore features.</p>
            </div>
            <div class="grid grid-cols-2 gap-2 pt-6">
                <div class="bg-white rounded shadow-md p-6">
                    <h2 class="text-xl font-semibold mb-4">Workflows in Progress</h2>
                    <section
                              th:hx-get="@{/home/inprogresscount}"
                             hx-trigger="load"
                             hx-indicator="#spinner"
                              >
                    </section>
                </div>
                <div class="bg-white rounded shadow-md p-6">
                    <h2 class="text-xl font-semibold mb-4">Workflows To Execute</h2>
                    <section
                              th:hx-get="@{/home/nextexecutioncount}"
                              hx-trigger="load"
                              hx-indicator="#spinner"
                    >
                    </section>
                </div>
            </div>


        </main>
    </div>
</div>
</body>
</html>
